<!DOCTYPE html>
<html>
<head>
    <title>Mini Social Media</title>
</head>
<body>

<h1>Mini Social Media</h1>

<h2>Create a Post</h2>

<form method="POST">
    {% csrf_token %}

    <textarea name="content" rows="5" cols="50"
    placeholder="What's on your mind?"></textarea>

    <br><br>

    <button type="submit">Post</button>

</form>

<hr>

<h2>All Posts</h2>

{% for post in posts %}

<div style="border:1px solid black; padding:10px; margin:10px;">

<b>{{ post.user.username }}</b>

<p>{{ post.content }}</p>

<small>{{ post.created_at }}</small>

</div>

{% empty %}

<p>No Posts Yet.</p>

{% endfor %}

</body>
</html>